.my-masonry-grid {
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr)); /* 5 equal columns */
  gap: 20px;
  padding: 20px;
  box-sizing: border-box;
  width: 100%;
  margin: 0 auto;
}

.my-masonry-grid_column {
  display: flex;
  flex-direction: column;
  gap: 20px; /* Space between items in a column */
}

.my-masonry-grid_column > div {
  margin-bottom: 0; /* Already handled by column gap */
  margin-left: 45px;
}



@media (max-width: 1200px) {
  .my-masonry-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 992px) {
  .my-masonry-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .my-masonry-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .my-masonry-grid {
    grid-template-columns: 1fr;
  }
}
